<%= form_for(lazy) do |f| %>
  <% if lazy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lazy.errors.count, "error") %> prohibited this lazy from being saved:</h2>

      <ul>
      <% lazy.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
