<h1>Home</h1>

<%= link_to "Add New Food", new_user_food_path(@user) %>
<br>
<%= link_to "Add New Activity", new_user_activity_path(@user) %>
<br>
<%= link_to "Add New Lazy Activity", new_user_lazy_path(@user) %>
